@page
@model StudentDataApp.Pages.ScholarshipPage.IndexModel

@{
    ViewData["Title"] = "Scholarship List";
}

<h1>Scholarship List</h1>
<hr/>
<h3>Criteria</h3>
<form method="get">
    <div class="d-flex justify-content-start align-items-center">
        <div class="form-group mr-4">
            <label for="fromDate">From Date</label>
            <input class="form-control" autocomplete="off" type="date" name="fromDate" value=@Model.InputFromDate />
        </div>
        <div class="form-group mr-4">
            <label for="toDate">To Date</label>
            <input class="form-control" autocomplete="off" type="date" name="toDate" value=@Model.InputToDate >
        </div>
        <div class="form-group mr-4">
            <label for="awardStatus">Awarded</label>
            <select name="awardStatus" asp-items="Model.AwardStatusList" class="form-control"></select>
        </div>
        <div class="form-group mr-4">
            <label for="acceptStatus">Accepted</label>
            <select name="acceptStatus" asp-items="Model.AcceptStatusList" class="form-control"></select>
        </div>
        <div class="form-group">
            <input type="submit" value="Filter" class="btn btn-primary" />
        </div>
    </div>
</form>
<hr/>
@if (Model.Scholarship.Count > 0)
{
<h3>Scholarship Report</h3>
<dl class="row">
    <dt class="col-sm-2">
        Awards
    </dt>
    <dd class="col-sm-10">
        @Model.Scholarship.Count
    </dd>
    <dt class="col-sm-2">
        Total Awarded
    </dt>
    <dd class="col-sm-10">
        $@Model.TotalAmountAwarded
    </dd>
</dl>
<hr/>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Scholarship[0].Student.StudentSchoolID)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Scholarship[0].Student.FirstName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Scholarship[0].Student.LastName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Scholarship[0].ScholarshipAmount)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Scholarship[0].DateAwarded)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Scholarship[0].DateAccepted)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Scholarship)
{
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Student.StudentSchoolID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Student.FirstName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Student.LastName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ScholarshipAmount)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DateAwarded)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DateAccepted)
            </td>
            <td>
                <a class="btn btn-primary" asp-page="../ContactInfoPage/Details" asp-route-studentId="@item.StudentID" >Select</a>
            </td>
        </tr>
}
    </tbody>
    
</table>
}
