@page
@model StudentDataApp.Pages.Post_RegistrationPage.DeleteModel

@{
    ViewData["Title"] = "Delete";
}

<h1>Delete</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Post_Registration</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Post_Registration.StudentID)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Post_Registration.StudentID)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Post_Registration.schedComp)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Post_Registration.schedComp)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Post_Registration.startDate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Post_Registration.startDate)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Post_Registration.gradDate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Post_Registration.gradDate)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Post_Registration.emphasis)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Post_Registration.emphasis)
        </dd>
    </dl>
    
    <form method="post">
        <input type="hidden" asp-for="Post_Registration.ID" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-page="./Index">Back to List</a>
    </form>
</div>
