@page
@model StudentDataApp.Pages.RegistrationPage.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>

            <th>
                @Html.DisplayNameFor(model => model.Registration[0].signCourse)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Registration[0].priorClasses)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Registration[0].transSet)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Registration[0].transEval)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Registration[0].enrolled)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Registration[0].termCreate)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Registration) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.signCourse)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.priorClasses)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.transSet)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.transEval)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.enrolled)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.termCreate)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.ID">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.ID">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.ID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
