@page
@model StudentDataApp.Pages.PostGradPage.IndexModel

@{
    ViewData["Title"] = "Post-Graduation Page";
}

<h1>Post-Graduation List</h1>
<hr />
<h3>Criteria</h3>
<form method="get">
    <div class="d-flex justify-content-start align-items-center">
        <div class="form-group mr-4">
            <label for="compName">Student First Name</label>
            <input class="form-control" autocomplete="off" name="stuFName" value=@Model.InputStuFName />
        </div>
        <div class="form-group mr-4">
            <label for="compName">Company Name</label>
            <input class="form-control" autocomplete="off" name="compName" value=@Model.InputCompName />
        </div>
        <div class="form-group mr-4">
            <label for="compName">Graduation Term</label>
            <input class="form-control" autocomplete="off" name="gradTerm" value=@Model.InputGradTerm />
        </div>
        <div class="form-group">
            <input type="submit" value="Filter" class="btn btn-primary" />
        </div>
    </div>
</form>

@if (Model.PostGrads.Count > 0)
{
    <hr/>
    <h3>Post-Graduation Report</h3>
    <dl class="row">
        <dt class="col-sm-2">
            Average Salary
        </dt>
        <dd class="col-sm-10">
            @Model.AverageSalary
        </dd>
        <dt class="col-sm-2">
            Graduates
        </dt>
        <dd class="col-sm-10">
            @Model.PostGrads.Count
        </dd>
        <dt class="col-sm-2">
            Employed
        </dt>
        <dd class="col-sm-10">
            @Model.NumberOfEmployed
        </dd>
        <dt class="col-sm-2">
            Cont. Education
        </dt>
        <dd class="col-sm-10">
            @Model.NumberOfEducation
        </dd>
        <dt class="col-sm-2">
            Military
        </dt>
        <dd class="col-sm-10">
            @Model.NumberOfMilitary
        </dd>
        <dt class="col-sm-2">
            Percentage Placed
        </dt>
        <dd class="col-sm-10">
            @Model.PercentPlaced
        </dd>
    </dl>
    <hr />
    <table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.PostGrads[0].Student.FirstName)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.PostGrads[0].GradCode)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.PostGrads[0].GradTerm)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.PostGrads[0].CompName)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.PostGrads[0].CompLocation)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.PostGrads[0].Salary)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.PostGrads) { 
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Student.FirstName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.GradCode)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.GradTerm)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CompName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CompLocation)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Salary)
                </td>
                <td>
                    <a class="btn btn-primary" asp-page="../PostGradPage/Details" asp-route-studentId="@item.StudentID">Select</a>
                </td>
            </tr>
            }
        </tbody>

    </table>
    }
