@page
@model StudentDataApp.Pages.EmploymentPage.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Employment[0].Student)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Employment[0].GradCode)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Employment[0].GradTerm)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Employment[0].CompName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Employment[0].CompLocation)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Employment[0].Salary)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Employment) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Student.FirstName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.GradCode)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.GradTerm)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CompName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CompLocation)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Salary)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.ID">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.ID">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.ID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
